#root {
	font-size: 1.5vw;
	text-align: center;
}

div div::after {
	display: block;
	clear: both;
	content: "";
}

div h1 {margin: 0;}

button.box {
	border: 1px solid black;
	float: left;
	height: 3.5vw;
	width: 3.5vw;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	font-size: 1.5vw;
	font-weight: bold;
	line-height: 3vw;
	text-align: center;
}