button.box {
	border: 1px solid black;
	float: left;
	height: 3.5vw;
	width: 3.5vw;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	font-size: 1.5vw;
	font-weight: bold;
	line-height: 3vw;
	text-align: center;
}

.clearfix {
	clear: both;
	content: "";
	display: table;
}